<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAsianOptions4" />
                <binding name="BasicHttpBinding_IAsianOptions41" />
                <binding name="BasicHttpBinding_IAsianOptionsServiceFSharp" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5807/AsianOptions4.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAsianOptions4" contract="AsianOptionsService4.IAsianOptions4"
                name="BasicHttpBinding_IAsianOptions4" />
            <endpoint address="http://localhost:5807/AsianOptions4.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAsianOptions41" contract="FRAsianOptionsService4.IAsianOptions4"
                name="BasicHttpBinding_IAsianOptions41" />
            <endpoint address="http://localhost:5125/AsianOptionsFSharp.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsianOptionsServiceFSharp"
                contract="AsianOptionsServiceFSharp.IAsianOptionsServiceFSharp"
                name="BasicHttpBinding_IAsianOptionsServiceFSharp" />
        </client>
    </system.serviceModel>
</configuration>